<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Week3_Mailbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F2CD0101BC1EC890011801F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F2CD0241BC1EC8A0011801F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F2CD02F1BC1EC8A0011801F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
